---
import { AuthorizationCode } from "simple-oauth2";
import { config, type Provider } from "../../lib/config";

const host = Astro.request.headers.get("host");
const url = new URL(`https://${host}/${Astro.request.url}`);
const urlParams = url.searchParams;
const code = urlParams.get("code");
const provider = urlParams.get("provider") as Provider;

if (!code) throw new Error(`Missing code ${code}`);

const client = new AuthorizationCode(config(provider));
const tokenParams = {
    code: `${code}`,
    redirect_uri: `https://${host}/api/callback?provider=${provider}`,
};

console.log(tokenParams);

const accessToken = await client.getToken(tokenParams);
const token = accessToken.token["access_token"] as string;

const blaa = JSON.stringify({token, provider});
console.log(blaa);
---

<html>
    <head>
        <script>
            console.log("HELLO");
            const receiveMessage = (message: MessageEvent) => {
                window.opener.postMessage(
                    `authorization:github:success:${blaa}`,
                    message.origin,
                );
                window.removeEventListener("message", receiveMessage, false);
            };
            window.addEventListener("message", receiveMessage, false);
            window.opener.postMessage("authorizing:github", "*");
        </script>
    </head>
    <body> </body>
</html>
