---
import BaseDesign from "@layouts/BaseDesign.astro";
import { getEntry, render } from "astro:content";
import { Image } from "astro:assets";
import { fade } from "astro:transitions";

const { slug } = Astro.params;

if (!slug) {
    return new Response(null, {
        status: 404,
        statusText: "Not found",
    });
}

const recipe = await getEntry("rezepte", slug);

if (!recipe) {
    return new Response(null, {
        status: 404,
        statusText: "Not found",
    });
}

const { Content } = await render(recipe);

const session = Astro.locals.session;
---

<BaseDesign>
    <div class="flex justify-center py-1">
        <div class="prose">
            <h2 transition:name={recipe.id}>{recipe.data.title}</h2>
            {recipe.data.image && <Image src={recipe.data.image} alt="" />}
            <content transition:animate={fade({ duration: "0.75s" })}>
            {recipe.data.ingredientList.map((item) => (
                <div>
                    { item.title && <h4>{item.title}</h4>}
                    <ul>{item.ingredients.map((i) => (<li>{i}</li>))}</ul>
                </div>
            ))}
            <Content />
            </content>
        </div>
    </div>
{session && <a slot="bottom-left" href=`/rezepte/${recipe.id}/edit`>bearbeiten</a>}
</BaseDesign>
